.btn {
  border: none;
  border-radius: 1.75rem;
  width: 8.75rem;
  height: 3rem;
  padding-bottom: .063rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  // desktop
  @media (min-width: 1200px) {
    width: 10.438rem;
    height: 3.5rem;
    padding: 0;
  }
  

  &-nav {
    background-color: #13183F;
    &:hover {
      background-color: #666CA3;
      transition: .4s;
    }
  }


  &-hero {
    width: 10.438rem;
    height: 3.5rem;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 1.969rem;
    padding-bottom: 0;
    &:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    }
    // desktop
    @media (min-width: 1200px) {
      height: 3.938rem;
      padding-top: .125rem;
    }
  }


  &-footer {
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 1.75rem;
    &:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }
  }
}