.footer {
  margin: 0 auto;
  padding: 2.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #13183F;
  // tablet
  @media (min-width: 768px) {
  padding-inline: 2.5rem;
  }
  // desktop xl
  @media (min-width: 1200px) {
    padding: 2rem 10.313rem;
  }

  &-logo {
    height: 1.375rem;
    width: 5.438rem;
  }
}