.nav {
  margin: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // tablet
  @media (min-width: 768px) {
    margin: 1.5rem 2.5rem 0 2.5rem;
  }
  // desktop
  @media (min-width: 1200px) {
    margin: 1.5rem 10.313rem 0 10.313rem;
  }

  &-logo {
    height: 1.313rem;
    width: 5.313rem;
    
    // desktop
    @media (min-width: 1200px) {
      height: 1.75rem;
      width: 6.938rem;
    }

  }
}